@import '../../styles';

.input-form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  .input {
    width: 70%;
  }

  .priority {
    display: block;
    content: '';
    height: 20px;
    width: 20px;
    border-radius: 50%;
  }

  .high {
    background-color: $danger;
  }

  .low {
    background-color: $info;
  }

  .middle {
    background-color: $warning;
  }
}
